{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.as_p }}-->

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for element in form %}
        <p><label class="form-label" for="{{ element.id_for_label }}">{{ element.label }}</label>{{ element }}</p>
        <div class="form-error">{{ element.errors }}</div>
    {% endfor %}
    <button type="submit">Добавить</button>
</form>
{% endblock %}
